/* I used some of my CSS props here and some in my js files as jquery , 
I wanted to practice both. */

h2 {
    color: white;
    text-align: right;

}

p {
  
    color:white;
    /* position: fixed;
    bottom: 0;  */
    text-align: center;
    font-weight: bold;
    font-size: 25;
    margin-top: 400px;

}